.productset{
  
    .tittle{
        background-color: white;
        height: 35px;
        display: flex;
        align-items: center;
        margin-top: 2px;
        div{
        margin-left: 25px;
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 19px;
        margin-bottom: 5px;
        background-color: white;
        width: 100%;
       
        }
    }
    .wrapper{
        display: grid;
        grid-template-rows: 250px ;
        grid-template-columns: 210px 210px 210px 210px 210px 210px 210px;
        margin-left: 20px;
        margin-bottom: 25px;
        

    }
}

.link{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.homelink{
    text-decoration: none;
    color: black;
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    
}