.item{
    padding: 20px 50px;
    display: flex;
    gap: 50px;
    .left{
        flex: 1;
        display: flex;
        gap: 20px;
        .images{
            flex: 1;
            
            img{
               height: 150px;
               object-fit: cover;
               cursor: pointer;
               margin-bottom: 10px;
            }
        }
        .mainimage{
      
            flex: 4;
            img{
                width: 400px;
                height: 570px;
                object-fit: cover;
            }
        }
    }
    .right{
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .price{
            font-size: 30px;
            color: rgb(0, 0, 103);
            font-weight: 500;
        }
        p{
            font-size: 18px;
            font-weight: 300;
            text-align: justify;
        }
        .add{
            background-color: blue;
            color: white;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            border-radius: 5px;
            gap: 10px;
            font-weight: 500;
            width: 250px;

        }

    }
}